:root {
  --font-family: "Inter", sans-serif;
  --placeholder-color: #666;
  --text-color: #101828;
}

.formSent {
  color: green;
  font-weight: bold;
  font-family: var(--font-family);
}

.bookingForm {
  background-color: #fff;
  padding: 44px 57px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

.bookingForm h2 {
  margin-bottom: 10px;
}

.bookingForm p {
  margin-bottom: 20px;
  color: var(--placeholder-color);
}

.bookingForm label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.bookingForm input,
.bookingForm textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--text-color); /* Текст, який вводиться */
}

.bookingForm input::placeholder,
.bookingForm textarea::placeholder {
  color: var(--placeholder-color); /* Колір плейсхолдера */
}

.bookingForm textarea {
  resize: none;
  height: 100px;
}

/* Кнопка відправки */
.buttonContainer {
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  height: 100%;
}
.submitButton {
  background-color: var(--button, #e44848); /* Змінна з кольором кнопки */
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  margin-top: 24px;
  border: none;
  color: white;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
  background-color: #d84343;
}

.submitButton:focus,
.submitButton:active {
  outline: none;
  transform: scale(0.98);
}
