.favoriteButton {
  width: 25px;
  height: 24px;
  cursor: pointer;
  margin-left: 13px; /* Контрольований відступ від ціни */
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, fill 0.3s ease; /* Додаємо плавний перехід для ефекту ховера */
}

/* Ефект ховера */
.favoriteButton:hover {
  transform: scale(1.1); /* Збільшуємо іконку на 10% при наведенні */
  fill: #D84343; /* Змінюємо колір на червоний при наведенні */
}
