/* Загальні стилі сайдбару */
.sidebar {
  width: 360px;
  padding: 24px;
  font-family: var(--font-family);
}

/* Контейнер для введення локації */
.locationContainer {
  margin-bottom: 24px;
}

.locationLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 8px;
}

/* Обгортка для інпуту та іконки */
.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.locationIcon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 16px;
  color: #808080;
  fill: currentColor;
}

/* Введення для локації */
.locationInput {
  width: 100%;
  padding: 12px 12px 12px 36px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  font-size: 14px;
  background-color: #f9fafb;
  color: #101828;
}

.locationInput::placeholder {
  color: #6b7280;
}

/* Заголовок фільтру */
.filterTitle {
  font-weight: 400;
  font-size: 16px;
  color: #475467;
  margin-bottom: 32px;
}

/* Заголовок Vehicle Equipment */
.vehicleEquipmentTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 32px;
}

/* Divider line */
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-light);
  margin: 24px 0;
}

/* Фільтри за обладнанням */
.vehicleEquipment,
.vehicleTypeGroup {
  display: grid;
  grid-template-columns: repeat(3, 112px);
  gap: 16px;
  margin-bottom: 32px;
}

/* Основний блок для фільтра */
.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #DADDE1;
  cursor: pointer;
  width: 112px;
  height: 96px;
  transition: border-color 0.3s ease;
}

/* Якщо чекбокс або радіо вибраний */
.filterItem.selected {
  border: 2px solid #E44848;
}

/* Сховуємо стандартний чекбокс і радіо */
.filterItem input[type="checkbox"],
.filterItem input[type="radio"] {
  display: none;
}

.filterItem svg {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}

.filterItem p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 120%;
  color: var(--main);
  text-align: center;
}

/* Кнопка пошуку */
.searchButton {
  background-color: var(--button);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 32px;
}

.searchButton:hover {
  background-color: var(--button-hover);
}
