/* Контейнер для кнопки Load More */
.loadMoreButtonContainer {
  display: flex;
  justify-content: center; /* Центруємо кнопку горизонтально */
  margin-top: 40px; /* Відступ між останньою карткою і кнопкою */
}

/* Стилі для кнопки Load More */
.loadMoreButton {
  background-color: white;  /* Залишаємо білий фон */
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--Main, #101828); /* Встановлюємо колір тексту */
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08px;
}

/* Ховер-ефект, який міняє лише фон на червоний */
.loadMoreButton:hover {
  background-color: #D84343;
  color: white;
}

/* Фокус та активний стан, щоб кнопка залишалась білою після кліку */
.loadMoreButton:focus,
.loadMoreButton:active {
  background-color: white; /* Кнопка залишається білою після натискання */
  color: var(--Main, #101828); /* Залишаємо колір тексту як і до кліку */
  outline: none; /* Вимикаємо будь-які outline */
}
