.tabsButtons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 44px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #dadde1;
    bottom: 2px;
  }
}

.tabsButton {
  z-index: 1;
  padding: 10px;
  border: none;
  border-radius: 0;
  background: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.tabsButton:hover,
.tabsButton:focus {
  background-color: transparent;
}
