.tabsButtons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 44px;
}

.tabsButton {
  padding: 10px;
  border: none;
  border-radius: 0;
  background: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.tabsButton:hover,
.tabsButton:focus {
  background-color: transparent;
}
